@import "src/styles.scss";
/* Menú de arriba */
header {
    display: flex;
    height: 70px;
    h1{
        font-family: 'Source Sans Pro';
        font-style: normal;
        font-weight: 700;
        font-size: 28px;
        text-align: center;
        margin: auto;
    }
    img{
        max-height: 60%;
        margin: auto;
    }
}

/*Navegación de abajo.*/
footer{
    position: absolute;
    bottom: 0;
    height: 70px;
    display: flex;
    div{
        background-color: rgba(255, 132, 115, 0.25);
        display: flex;
    }
    a{
        text-decoration: none;
        font-family: 'Source Sans Pro';
        font-style: normal;
        font-weight: 700;
        font-size: 24px;
        text-align: center;
        margin: auto;
    }
    #selected{
        background-color: rgba(255, 132, 115, 0.60);
    }
}

/*Pfp section*/
#pfp-section{
    display: flex;
    flex-wrap: wrap;
    background-color: $salmon;
    margin: auto;
    padding: 5px 5px;
    #pfp-div{
        display: flex;
        padding: 15px 0px;
        #pfp{
            width: 100%;
            margin: auto;
        }
    }
    div{
        margin: 4%;
        h2{
            text-align: center;
            margin-top: 25px;
        }
        #ayuda{
            float: right;
            max-height: 22%;
        }
    }
}