@import "src/styles.scss";

header {
    display: flex;
    height: 70px;
    h1{
        font-family: 'Source Sans Pro';
        font-style: normal;
        font-weight: 700;
        font-size: 28px;
        text-align: center;
        margin: auto;
    }
    img{
        max-height: 60%;
        margin: auto;
    }
}

footer{
    position: absolute;
    bottom: 0;
    height: 70px;
    display: flex;
    div{
        background-color: rgba(255, 132, 115, 0.25);
        display: flex;
    }
    a{
        text-decoration: none;
        font-family: 'Source Sans Pro';
        font-style: normal;
        font-weight: 700;
        font-size: 24px;
        text-align: center;
        margin: auto;
    }
    #selected{
        background-color: rgba(255, 132, 115, 0.60);
    }
}