<header>
    <img (click)="displayMenu()" id="menu-icon" src="./assets/images/menu.png" alt="Botón de menú desplegable.">
    <img src="./assets/images/logo.png" alt="Logotipo de la aplicación.">
    <h1 class="col-s-8">Nombre de la App</h1>
</header>
<section class="principal">
    <section id="pfp-section" class="col-s-10">
        <div id="pfp-div" class="col-s-4">
            <img id="pfp" src="./assets/images/pfp.png" alt="Foto de perfil.">
        </div>
        <div class="col-s-6">
            <img id="ayuda" (click)="popUpAyuda()" src="./assets/images/ayuda.png" alt="Botón de ayuda sobre la página.">
            <h2 class="col-s-12">@{{username}}</h2>
            <p class="col-s-12">{{datos.desc}}</p>
        </div>
    </section>
    <section id="datos-section">
        <ul class="col-s-5">
            <li>{{datos.n_masc}}</li>
            <li>Casa {{datos.hogar}} de {{datos.tamanyo_casa}}</li>
            <li>Discapacidades: {{datos.disc}}</li>
            <li>{{datos.horas_libres}}</li>
            <li>{{datos.estilo}}</li>
        </ul>
        <article class="col-s-6">
            <div class="col-s-12">
                <img src="./assets/images/location.png" alt="Icono localización.">
            </div>
            <p>sakjdsajdñasjdñsadjñ <br>sdasdasddsadsadasdsadsadsad</p>
        </article>
    </section>
    <section id="contacto-section" class="col-s-11">
        <article class="col-s-12">
            <h3>Correo electrónico:</h3>
            <p>{{datos.email}}</p>
        </article>
        <article class="col-s-12">
            <h3>Número de teléfono:</h3>
            <p>{{datos.tlf}}</p>
        </article>
    </section>
    <section id="btn-section">
        <a href="/perfil/modificar"><button class="button-2">Modificar información</button></a>
    </section>
    <section id="seguimiento">
        <h3>¡Puedes hacer el seguimiento de tus mascotas desde aquí!</h3>
        <button class="button-2"><a href="/seguimiento">Hacer seguimiento</a></button>
    </section>
</section>
<footer class="col-s-12">
    <article>
        <div class="col-s-4"><a href="/rescate">Rescate</a></div>
        <div class="col-s-4"><a href="/adopcion">Adopción</a></div>
        <div id="selected" class="col-s-4"><a href="/perfil">Perfil</a></div>
    </article>
</footer>
<section class="difuminado" *ngIf="ayuda"></section>
<section id="popup-ayuda" class="pop-up">
    <article *ngIf="ayuda" class="col-s-8">
        <button (click)="popUpAyuda()">X</button>
        <div>
            <h2>Perfil</h2>
            <p>¡Bienvenido o bienvenida a tu perfil!<br>
                Aquí se mostrará toda la información que nos has dado y que será visible para las 
                protectoras a la hora de tramitar una adopción.<br><br> 
                Si quieres modificar algún dato pulsa el botón de “Modificar información” 
                y vuelve a rellenar el formulario de datos.<br><br>                
                También puedes hacer el seguimiento de tus mascotas. Solo 
                clicka en el botón “Hacer seguimiento” de abajo.</p>
        </div>
    </article>
</section>

<!--menu desplegable-->
<section class="difuminado" *ngIf="difuminar"></section>
<section class="desplegable col-s-8" *ngIf="menu">
    <div class="col-s-12">
        <img (click)="hideMenu()" id="menu-icon" src="./assets/images/menu.png" alt="Botón de menú desplegable.">
    </div>
    <article class="col-s-12">
        <div><a href="/rescate">Rescate</a></div>
        <div><a href="/adopcion">Adopción</a></div>
        <div id="destacado"><a href="/perfil">Perfil</a></div>
        <div><a href="/about">Sobre Nosotros</a></div>
        <div><a href="/privacidad">Privacidad</a></div>
        <div><a href="/contacto">Contacto</a></div>
    </article>
</section>