@import "src/styles.scss";

/*Pfp section*/
#pfp-section{
    display: flex;
    flex-wrap: wrap;
    background-color: $salmon;
    margin: auto;
    padding: 5px 5px;
    #pfp-div{
        display: flex;
        padding: 15px 0px;
        #pfp{
            width: 100%;
            margin: auto;
        }
    }
    div{
        margin: 4%;
        h2{
            text-align: center;
            margin-top: 25px;
        }
        #ayuda{
            float: right;
            max-height: 22%;
        }
    }
}