<header>
    <img (click)="displayMenu()" id="menu-icon" src="./assets/images/menu.png" alt="Botón de menú desplegable.">
    <img src="./assets/images/logo.png" alt="Logotipo de la aplicación.">
    <h1 class="col-s-8">Nombre de la App</h1>
</header>
<section class="principal">
    <section class="titulo-section col-s-12">
        <h2>Contacto</h2>
    </section>
    <section id="info">
        <p>En caso de tener algún tipo de duda sobre el funcionamiento de la 
            aplicación puede contactar con nosotras a través del siguiente email:</p>
        <h3>nombredelaapp@gmail.com</h3>
    </section>
</section>
<footer class="col-s-12">
    <article>
        <div class="col-s-4"><a href="/rescate">Rescate</a></div>
        <div class="col-s-4"><a href="/adopcion">Adopción</a></div>
        <div class="col-s-4"><a href="/perfil">Perfil</a></div>
    </article>
</footer>

<!--menu desplegable-->
<section class="difuminado" *ngIf="difuminar"></section>
<section class="desplegable col-s-8" *ngIf="menu">
    <div>
        <img (click)="hideMenu()" id="menu-icon" src="./assets/images/menu.png" alt="Botón de menú desplegable.">
    </div>
    <article>
        <div><a href="/rescate">Rescate</a></div>
        <div><a href="/adopcion">Adopción</a></div>
        <div><a href="/perfil">Perfil</a></div>
        <div><a href="/about">Sobre Nosotros</a></div>
        <div><a href="/privacidad">Privacidad</a></div>
        <div id="destacado"><a href="/contacto">Contacto</a></div>
    </article>
</section>
