<header>
    <img id="menu-icon" src="./assets/images/menu.png" alt="Botón de menú desplegable.">
    <img src="./assets/images/logo.png" alt="Logotipo de la aplicación.">
    <h1 class="col-s-8">Nombre de la App</h1>
</header>
<section class="principal">
    <section class="titulo-section col-s-12">
        <h2>Contacto</h2>
    </section>
    <section id="info">
        <p>En caso de tener algún tipo de duda sobre el funcionamiento de la 
            aplicación puede contactar con nosotras a través del siguiente email:</p>
        <h3>nombredelaapp@gmail.com</h3>
    </section>
</section>
<footer class="col-s-12">
    <article>
        <div class="col-s-4"><a href="/rescate">Rescate</a></div>
        <div class="col-s-4"><a href="/adopcion">Adopción</a></div>
        <div class="col-s-4"><a href="/perfil">Perfil</a></div>
    </article>
</footer>
