<header>
    <img src="./assets/images/logo.png" alt="Logotipo de la aplicación.">
    <h1 class="col-s-8">Nombre de la App</h1>
</header>
<section class="principal">
    <section class="titulo-section col-s-12">
        <img (click)="salirPopup()" src="./assets/images/atras.png" alt="Botón de volver hacia la página anterior.">
        <h2>Modificar mis datos</h2>
    </section>
    <form [formGroup]="formulario" (ngSubmit)="onSubmit()">
        <article id="pfp-sect">
            <div class="col-s-5">
                <label for="pfp-file">Foto de perfil</label>
                <img src="./assets/images/pfp.png" alt="Actual foto de perfil">
                <button type="button" onclick="$('pfp').click()" name="pfp-file" id="pfp-file" class="button-1">Cambiar foto</button>
                <input type="file" id="pfp" style="display:none" accept="image/*" formControlName="pfp">
            </div>
            <div class="col-s-5">
                <label for="desc">Descripción</label>
                <textarea name="desc" id="desc" cols="17" rows="6" placeholder="Cuéntanos algo sobre ti." formControlName="descripcion"></textarea>
            </div>
        </article>
        <article id="contacto-sect" class="col-s-10">
            <div>
                <label class="col-s-12" for="email">Correo electrónico:</label>
                <input class="col-s-10 form-control" [class.is-invalid]="f.email.touched && f.email.invalid" type="text" 
                name="email" id="email" formControlName="email" placeholder="Introduce tu email:">
                <div class="col-s-12" *ngIf="f.email.touched && f.email.invalid">
                    <small class="text-danger rip" *ngIf="f.email.errors?.required">Email obligatorio.</small>
                    <small class="text-danger rip" *ngIf="f.email.errors?.pattern">El email tiene que tener la estructura "nombre@subdominio.dominio".</small>
                </div>
            </div>
            <div>
                <label class="col-s-12" for="tlf">Teléfono de contacto:</label>
                <input class="col-s-10 form-control" [class.is-invalid]="f.tlf.touched && f.tlf.invalid" 
                type="text" name="tlf" id="tlf" formControlName="tlf" placeholder="Introduce tu teléfono:">
                <div class="col-s-12" *ngIf="f.tlf.touched && f.tlf.invalid">
                    <small class="text-danger rip" *ngIf="f.tlf.errors?.required">Teléfono obligatorio.</small>
                    <small class="text-danger rip" *ngIf="f.tlf.errors?.pattern">El teléfono ha de tener 9 caracteres.</small>
                </div>
            </div>
        </article>
        <article id="n-masc-sect" class="col-s-10">
            <label for="n_masc">Número de mascotas</label>
            <select name="n_masc" id="n_masc" formControlName="n_masc">
                <option value="0">Ninguna</option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">Más de tres</option>
            </select>
        </article>
        <article id="radios-sect" class="col-s-11">
            <fieldset class="col-s-6">
                <legend>Tipo de hogar:</legend>
                <label for="piso">
                    <input id="piso" type="radio" value="piso" class="radio-btn" formControlName="hogar">
                    Piso</label>
                <label for="jardin">
                    <input id="jardin" type="radio" value="jardin" class="radio-btn" formControlName="hogar">
                    Casa con jardín</label>
                <label for="otro-hogar">
                    <input id="otro-hogar" type="radio" value="otro" class="radio-bt" formControlName="hogar">
                    Otro<input class="col-s-7 otro" type="text" formControlName="hogar_other">
                </label>
            </fieldset>
            <fieldset class="col-s-6">
                <legend>Discapacidades:</legend>
                <label for="ninguna">
                    <input name="disc" id="ninguna" type="radio" value="ninguna" class="radio-btn" formControlName="disc">
                    Ninguna</label>
                <label for="visual">
                    <input name="disc" id="visual" type="radio" value="visual" class="radio-btn" formControlName="disc">
                    Visual</label>
                <label for="auditiva">
                    <input name="disc" id="auditiva" type="radio" value="auditiva" class="radio-btn" formControlName="disc">
                    Auditiva</label>
                <label for="motora">
                    <input name="disc" id="motora" type="radio" value="motora" class="motora" formControlName="disc">
                    Motora</label>
                <label for="otro-disc">
                    <input name="disc" id="otro-disc" type="radio" value="otro" class="radio-btn" formControlName="disc">
                    Otro<input name="disc" class="col-s-7 otro" type="text" formControlName="disc_other">
                </label>
            </fieldset>
        </article>
        <article id="horas-casa-sect">
            <div class="col-s-12">
                <label for="horas_libres">Horas de tiempo libre semanales</label>
                <select name="horas_libres" id="horas_libres" formControlName="horas_libres">
                    <option value="0">Menos de 35.</option>
                    <option value="1">35-45.</option>
                    <option value="2">45-60.</option>
                    <option value="3">Más de 60.</option>
                </select>
            </div>
            <div class="col-s-12">
                <label for="tamanyo_casa">Tamaño aproximado de la casa</label>
                <select name="tamanyo_casa" id="tamanyo_casa" formControlName="tamanyo_casa">
                    <option value="0">Menos de 50m2</option>
                    <option value="1">50-80m2</option>
                    <option value="2">80-110m2</option>
                    <option value="3">110-140m2</option>
                    <option value="4">Más de 140m2</option>
                </select>
            </div>
        </article>
        <article id="ultima-sect" class="col-s-11 form-group">
            <fieldset class="col-s-6">
                <legend>¿Considera tener un estilo de vida más activo o sedentario?</legend>
                <label for="activo">
                    <input name="estilo" id="activo" type="radio" value="activo" class="radio-btn" formControlName="estilo">
                    Activo</label>
                <label for="sedentario">
                    <input name="estilo" id="sedentario" type="radio" value="sedentario" class="radio-btn " formControlName="estilo">
                    Sedentario</label>
            </fieldset>
            <div class="col-s-6">
                <img src="./assets/images/location.png" alt="Cambiar ubicación botón">
                <label class="col-s-12" for="ubicacion">Ubicación</label>
                <textarea name="ubicacion" id="ubicacion" cols="12" rows="2" formControlName="ubicacion"></textarea>
            </div>
        </article>
        <article id="submit-sect">
            <button class="button-2" type="submit">Guardar datos</button>
        </article>
    </form>
</section>

<footer class="col-s-12">
    <article>
        <div class="col-s-4"><a href="entregable02/rescate">Rescate</a></div>
        <div class="col-s-4"><a href="entregable02/adopcion">Adopción</a></div>
        <div id="selected" class="col-s-4"><a href="entregable02/perfil">Perfil</a></div>
    </article>
</footer>
<section class="difuminado" *ngIf="difuminar"></section>
<section *ngIf="salir" id="popup-salir" class="pop-up">
    <article class="col-s-8">
        <button id="volver-btn" (click)="salirPopup()">X</button>
        <div>
            <h2>¿Volver al perfil?</h2>
            <p>¿Seguro que quieres dejar de modificar tus datos? Los cambios 
                no se guardarán a no ser que pulses sobre el botón de “guardar 
                datos” de abajo.</p>
        </div>
        <div id="botones-salir">
            <button class="button-1 col-s-5"><a href="entregable02/perfil">Salir sin guardar.</a></button>
            <button (click)="salirPopup()" class="button-1 col-s-5">Seguir modificando.</button>
        </div>
    </article>
</section>