<header>
    <img id="menu-icon" src="./assets/images/menu.png" alt="Botón de menú desplegable.">
    <img src="./assets/images/logo.png" alt="Logotipo de la aplicación.">
    <h1 class="col-s-8">Nombre de la App</h1>
</header>
<section id="titulo-section">
    <a href="/perfil"><img src="./assets/images/atras.png" alt="Botón de volver hacia la página anterior."></a>
    <h2>Modificar mis datos</h2>
</section>
<form>
    <article id="pfp-sect">
        <div class="col-s-5">
            <label for="pfp-file">Foto de perfil</label>
            <img src="./assets/images/pfp.png" alt="Actual foto de perfil">
            <button onclick="$('#pfp-file').click()" name="pfp-file" id="pfp-file" class="button-1">Cambiar foto</button>
            <input type="file" id="pfp" style="display:none" accept="image/*">
        </div>
        <div class="col-s-5">
            <label for="desc">Descripción</label>
            <textarea name="desc" id="desc" cols="17" rows="6"></textarea>
        </div>
    </article>
    <article id="contacto-sect">
        <article class="col-s-10">
            <div>
                <label class="col-s-12" for="email">Correo electrónico:</label>
                <input class="col-s-10" type="text" name="email" id="email">
            </div>
            <div>
                <label class="col-s-12" for="tlf">Teléfono de contacto:</label>
                <input class="col-s-10" type="text" name="tlf" id="tlf">
            </div>
        </article>
    </article>
    <article id="n-masc-sect">
        <div class="col-s-10">
            <label for="n-mascotas">Número de mascotas</label>
            <select name="n-mascotas" id="n-mascotas">
                <option value="0">Ninguna</option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">Más de tres</option>
            </select>
        </div>
    </article>
    <article id="radios-sect">
        <article class="col-s-11">
            <fieldset class="col-s-6">
                <legend>Tipo de hogar:</legend>
                <label for="piso"><input name="hogar" id="piso" type="radio" class="radio-btn">Piso</label>
                <label for="jardin"><input name="hogar" id="jardin" type="radio" class="radio-btn">Casa con jardín</label>
                <label for="otro-hogar"><input name="hogar" id="otro-hogar" type="radio" class="radio-btn">Otro<input name="hogar" class="col-s-7 otro" type="text"></label>
            </fieldset>
            <fieldset class="col-s-6">
                <legend>Discapacidades:</legend>
                <label for="visual"><input name="discapacidades" id="visual" type="radio" class="radio-btn">Visual</label>
                <label for="auditiva"><input name="discapacidades" id="auditiva" type="radio" class="radio-btn">Auditiva</label>
                <label for="motora"><input name="discapacidades" id="motora" type="radio" class="radio-btn">Motora</label>
                <label for="otro-disc"><input name="discapacidades" id="otro-disc" type="radio" class="radio-btn">Otro<input name="discapacidades" class="col-s-7 otro" type="text"></label>
            </fieldset>
        </article>
    </article>
    <article>
        <article>
            <div class="col-s-5">
                <label for="horas-libres">Horas de tiempo libre semanales</label>
                <select name="horas-libres" id="horas-libres">
                    <option value="0">Menos de 35.</option>
                    <option value="1">35-45.</option>
                    <option value="2">45-60.</option>
                    <option value="3">Más de 60.</option>
                </select>
            </div>
            <div class="col-s-5">
                <label for="tamanyo-casa">Tamaño aproximado de la casa</label>
                <select name="tamanyo-casa" id="tamanyo-casa">
                    <option value="0">Menos de 50m2</option>
                    <option value="1">50-80m2</option>
                    <option value="2">80-110m2</option>
                    <option value="3">110-140m2</option>
                    <option value="4">Más de 140m2</option>
                </select>
            </div>
        </article>
    </article>
</form>
<footer class="col-s-12">
    <div class="col-s-4"><a href="/rescate">Rescate</a></div>
    <div class="col-s-4"><a href="/adopcion">Adopción</a></div>
    <div id="selected" class="col-s-4"><a href="/perfil">Perfil</a></div>
</footer>
