<header>
  <img id="menu-icon" src="./assets/images/menu.png" alt="Botón de menú desplegable.">
  <img src="./assets/images/logo.png" alt="Logotipo de la aplicación.">
  <h1 class="col-s-8">Nombre de la App</h1>
</header>
<section class="principal">
  <section class="titulo-section col-s-12">
    <p>Rescate en marcha</p>
  </section>
  <section class="boxes">
    <img class="fotos_boxes" src="./assets/images/mapa%201.png">
  </section>
  <section class="boxes">
    <img class="fotos_boxes" src="./assets/images/llamada-telefonica%201.png">
    <p class="texto_boxes">Pulse el telefono para ponerse en contacto con la patrulla</p>
  </section>
</section>

<footer class="col-s-12">
  <article>
    <div id="selected"  class="col-s-4"><a href="/rescate">Rescate</a></div>
    <div class="col-s-4"><a href="/adopcion">Adopción</a></div>
    <div  class="col-s-4"><a href="/perfil">Perfil</a></div>
  </article>
</footer>


