<header>
    <img (click)="displayMenu()" id="menu-icon" src="./assets/images/menu.png" alt="Botón de menú desplegable.">
    <img src="./assets/images/logo.png" alt="Logotipo de la aplicación.">
    <h1 class="col-s-8">Nombre de la App</h1>
</header>
<section class="principal">
    <section class="titulo-section col-s-12">
        <h2>Sobre Nosotros</h2>
    </section>
    <section id="info">
        <p class="col-s-11">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Diam quam nulla porttitor massa. Quisque id diam vel quam elementum pulvinar. Egestas purus viverra accumsan in nisl nisi scelerisque eu ultrices. At varius vel pharetra vel turpis. Nunc eget lorem dolor sed viverra ipsum. Ultrices gravida dictum fusce ut placerat orci nulla pellentesque dignissim. Tempus iaculis urna id volutpat lacus laoreet. Mauris nunc congue nisi vitae suscipit tellus mauris a. Placerat in egestas erat imperdiet sed euismod nisi. Facilisi nullam vehicula ipsum a arcu cursus vitae congue. Vulputate mi sit amet mauris commodo. Vel pretium lectus quam id leo in vitae turpis massa. Vehicula ipsum a arcu cursus vitae congue.<br><br>

            Sem integer vitae justo eget magna fermentum iaculis eu non. Tristique risus nec feugiat in fermentum posuere. Lectus vestibulum mattis ullamcorper velit sed ullamcorper morbi tincidunt ornare. Aliquet risus feugiat in ante metus dictum at tempor. Dolor magna eget est lorem ipsum dolor. Et malesuada fames ac turpis egestas maecenas. Vulputate sapien nec sagittis aliquam malesuada bibendum. Purus gravida quis blandit turpis cursus in hac habitasse platea. Viverra justo nec ultrices dui sapien eget. Facilisis volutpat est velit egestas dui id ornare arcu. Porttitor massa id neque aliquam vestibulum morbi blandit cursus. Sagittis orci a scelerisque purus semper eget duis at tellus. In eu mi bibendum neque. Risus pretium quam vulputate dignissim. Ut tristique et egestas quis ipsum suspendisse ultrices gravida. Cras adipiscing enim eu turpis egestas pretium.<br><br>
            
            Fermentum posuere urna nec tincidunt praesent semper. Purus semper eget duis at tellus at urna condimentum. Vitae sapien pellentesque habitant morbi tristique senectus. Fames ac turpis egestas sed tempus urna et. Proin nibh nisl condimentum id. Dui vivamus arcu felis bibendum ut tristique et egestas quis. Tortor at auctor urna nunc id cursus metus aliquam. Rhoncus urna neque viverra justo nec ultrices dui. Commodo odio aenean sed adipiscing diam. Diam phasellus vestibulum lorem sed risus.</p>
    </section>
</section>
<footer class="col-s-12">
    <article>
        <div class="col-s-4"><a routerLink="/rescate">Rescate</a></div>
        <div class="col-s-4"><a routerLink="/adopcion">Adopción</a></div>
        <div class="col-s-4"><a routerLink="/perfil">Perfil</a></div>
    </article>
</footer>

<!--menu desplegable-->
<section class="difuminado" *ngIf="difuminar"></section>
<section class="desplegable col-s-8" *ngIf="menu">
    <div>
        <img (click)="hideMenu()" id="menu-icon" src="./assets/images/menu.png" alt="Botón de menú desplegable.">
    </div>
    <article>
        <div><a routerLink="/rescate">Rescate</a></div>
        <div><a routerLink="/adopcion">Adopción</a></div>
        <div><a routerLink="/perfil">Perfil</a></div>
        <div id="destacado"><a routerLink="/about">Sobre Nosotros</a></div>
        <div><a routerLink="/privacidad">Privacidad</a></div>
        <div><a routerLink="/contacto">Contacto</a></div>
    </article>
</section>
