<header>
    <img id="menu-icon" src="./assets/images/menu.png" alt="Botón de menú desplegable.">
    <img src="./assets/images/logo.png" alt="Logotipo de la aplicación.">
    <h1 class="col-s-8">Nombre de la App</h1>
</header>

<section id="difuminado" *ngIf="lectura"></section>
<section id="popup-lectura" class="popup">
    <article *ngIf="lectura" class="col-s-8">
        <div>
            <h2>¿Estás preparado para adoptar?</h2>
            <p>Recuerda que adoptar una mascota conlleva una gran <b>responsabilidad</b> y estar bien informado puede ayudarte a tomar esta decisión tan importante.
                Si dispones de suficiente tiempo libre para dar paseos diarios con tu nuevo compañero y de recursos suficientes para proporcionarle comida y
                pagar los gastos veterinarios que puedan surgir, ¡vas por buen camino!<br>
                Por último,  debes darle a tu mascota el cariño, el amor y la calidez de un hogar.Te aseguramos que tu nuevo compañero te lo devolverá con creces.<br>
                Si estás de acuerdo con todos estos puntos, ¡estás preparado para adoptar! Si fallas en alguno de ellos, 
                te recomendamos que esperes a tomar esta decisión hasta que tu situación te lo permita.
            </p>
            <h2>¿Qué animales se ajustan más a ti?</h2>
            <p> Algunos puntos que debes tener en cuenta para darle la mejor calidad de vida a tu mascota son:</p>
                <ul>
                    <li><b>Estilo de vida:</b> elige un animal cuyo nivel de actividad coincida con el tuyo. ¡Tú eliges si prefieres más vitalidad o más tranquilidad!</li>
                    <li><b>Tamaño:</b> si vives en un hogar pequeño, será mejor adoptar un animal que se adecue a este tamaño.</li>
                    <li><b>¿Tienes otras mascotas?</b> Busca un nuevo compañero que esté acostumbrado a relacionarse.</li>
                </ul>
            <button (click)="popUpLectura()">Entendido</button>
        </div>
    </article>
</section>


<section id="lectura-section" class="col-s-11">
    <div id="div" class="col-s-12">
        <h2>Información para ti:</h2>
    </div>
    <div id="btn-section" class="col-s-12">
        <a><button id="lectura" (click)="popUpLectura()">¿Estás preparado para adoptar?<br>¿Qué animales se ajustan más a ti?</button></a>
    </div>
</section>
<section class="button-2">
    <h2>Filtrar</h2>
</section>
<section id="tl-section" class = "col-s-11">
    <table id= "tabla" class="col-s-11">

    <tr *ngFor="let mascota of mascotas; let i=index;">
        <td id="foto" class="col-s-4"><img src = {{mascota.foto}}></td>
        <td id = "informasion" class="col-s-3">
            <ul>
                <li>{{mascota.nombre}}</li>
                <li>{{mascota.tipo}}</li>
                <li>{{mascota.sexo}}</li>
                <li>{{mascota.edad}} años</li>
                <li>{{mascota.raza}}</li>
                <li>{{mascota.ciudad}}</li>
            </ul>
        </td>
        <td>
            <a href="/adopcion/mas-info" class="col-s-4"><button>+info</button></a>
        </td>
    
    </table>
</section>

<footer class="col-s-12">
    <article>
        <div class="col-s-4"><a href="/rescate">Rescate</a></div>
        <div id="selected" class="col-s-4"><a href="/adopcion">Adopción</a></div>
        <div class="col-s-4"><a href="/perfil">Perfil</a></div>
    </article>
</footer>