<header>
  <img id="menu-icon" src="./assets/images/menu.png" alt="Botón de menú desplegable.">
  <img src="./assets/images/logo.png" alt="Logotipo de la aplicación.">
  <h1 class="col-s-8">Nombre de la App</h1>
</header>
<section id="franja">
  <p id="franja_p">Seguimiento de Toby en 10 días</p>
</section>
<section id="foto">
  <img id="camara" src="./assets/images/camara%201(1).png">
</section>
<form>
  <p>Cantidad de comida</p>
  <select>
    <option>1 lata cada x</option>

    <option>2 latas</option>

    <option>idk</option>
  </select>

  <p>Cantidad de paseo</p>
  <select>
    <option>1 hora al dia</option>

    <option>1 hora en 2 dias</option>

    <option>idk</option>
  </select>
  <p>Añadir informacion</p>
  <input class="col-s-10" type="text">
</form>

<button>Enviar seguimiento</button>

<footer class="col-s-12">
  <div class="col-s-4"><a href="/rescate">Rescate</a></div>
  <div class="col-s-4"><a href="/adopcion">Adopción</a></div>
  <div id="selected" class="col-s-4"><a href="/perfil">Perfil</a></div>
</footer>
