<header>
  <img (click)="displayMenu()" id="menu-icon" src="./assets/images/menu.png" alt="Botón de menú desplegable.">
  <img src="./assets/images/logo.png" alt="Logotipo de la aplicación.">
  <h1 class="col-s-8">Nombre de la App</h1>
</header>
<section class="principal">
  <section class="titulo-section col-s-12">
    <img src="./assets/images/BOTÓN%20LEFT.png" alt="Botón para ir a un anterior seguimiento">
    <p>Seguimiento de Toby en 10 dias</p>
    <img src="./assets/images/BOTÓN%20LEFT(1).png" alt="Botón para ir a un posterior seguimiento">

  </section>

  <section class="boxes">
    <img class="fotos_boxes" src="./assets/images/camara%201(1).png" alt="Añadir fotos">
  </section>

  <form class="form_">
    <label>Cantidad de comida</label>
    <select class="select_">
      <option>1 lata cada x</option>

      <option>2 latas</option>

      <option>idk</option>
    </select>

    <label>Cantidad de paseo</label>
    <select class="select_">
      <option>1 hora al dia</option>

      <option>1 hora en 2 dias</option>

      <option>idk</option>
    </select>
    <label>Añadir informacion</label>
    <input class="col-s-10, input_" type="text">
  </form>
  <br>
  <button class="button_rosa">Enviar seguimiento</button>

</section>

<footer class="col-s-12">
  <article>
    <div class="col-s-4"><a href="/rescate">Rescate</a></div>
    <div class="col-s-4"><a href="/adopcion">Adopción</a></div>
    <div id="selected" class="col-s-4"><a href="/perfil">Perfil</a></div>
  </article>
</footer>

<!--menu desplegable-->
<section class="difuminado" *ngIf="difuminar"></section>
<section class="desplegable col-s-8" *ngIf="menu">
    <div>
        <img (click)="hideMenu()" id="menu-icon" src="./assets/images/menu.png" alt="Botón de menú desplegable.">
    </div>
    <article>
        <div><a href="/rescate">Rescate</a></div>
        <div><a href="/adopcion">Adopción</a></div>
        <div id="destacado"><a href="/perfil">Perfil</a></div>
        <div><a href="/about">Sobre Nosotros</a></div>
        <div><a href="/privacidad">Privacidad</a></div>
        <div><a href="/contacto">Contacto</a></div>
    </article>
</section>
