<header>
  <img id="menu-icon" src="./assets/images/menu.png" alt="Botón de menú desplegable.">
  <img src="./assets/images/logo.png" alt="Logotipo de la aplicación.">
  <h1 class="col-s-8">Nombre de la App</h1>
</header>
<section id="franja">
  <p id="franja_p">Notificación de abandono</p>
</section>
<div>
  <p class="p_geo">Activar geolocalización</p>
  <input type="checkbox" class="check">
</div>
<form>
  <p>¿De que animal se trata?</p>
  <select>
    <option>Perro</option>

    <option>Gato</option>

    <option>idk</option>
  </select>

  <p>¿Está herido?</p>
  <select>
    <option>Si, tiene una pata herida</option>

    <option>Si, esta desnutrido</option>

    <option>idk</option>
  </select>
  <p>Añadir breve descripción</p>
  <div>
    <p class="texto">Tamaño</p>
    <input class="col-s-10" type="text">
  </div>
  <div>
    <p class="texto">Pelaje</p>
    <input class="col-s-10" type="text">
  </div>
  <p>Puedes proporcionar una foto del animal</p>
</form>

<button>Enviar notificaión</button>

<footer class="col-s-12">
  <div class="col-s-4"><a href="/rescate">Rescate</a></div>
  <div class="col-s-4"><a href="/adopcion">Adopción</a></div>
  <div id="selected" class="col-s-4"><a href="/perfil">Perfil</a></div>
</footer>

