<header>
  <img (click)="displayMenu()" id="menu-icon" src="./assets/images/menu.png" alt="Botón de menú desplegable.">
  <img src="./assets/images/logo.png" alt="Logotipo de la aplicación.">
  <h1 class="col-s-8">Nombre de la App</h1>
</header>
<section class="principal">
  <section class="titulo-section col-s-12">
    <img src="/assets/images/BOTÓN%20LEFT.png" (click)="popUpSalir()" id="boton_salir">
    <p>Notificación de abandono</p>
  </section>

  <form class="form_">
    <div>
      <p>Activar geolocalización</p>
      <input type="checkbox" class="check">
    </div>
    <p>¿De que animal se trata?</p>
    <select class="select_">
      <option>Perro</option>

      <option>Gato</option>

      <option>idk</option>
    </select>

    <p>¿Está herido?</p>
    <select class="select_">
      <option>Si, tiene una pata herida</option>

      <option>Si, esta desnutrido</option>

      <option>idk</option>
    </select>
    <p>Añadir breve descripción</p>
    <div>
      <p class="texto">Tamaño:</p>
      <input class="col-s-10 input_" type="text">
    </div>
    <div>
      <p class="texto">Pelaje:</p>
      <input class="col-s-10 input_" type="text">
    </div>
    <p>¿Puedes proporcionar una foto del animal?</p>
    <div>
      <p class="texto">Sí, activar cámara</p>
      <input type="checkbox" class="check">
      <p class="texto">No</p>
      <input type="checkbox" class="check">
    </div>
  </form>

  <button class="button_rosa"><a href="/rescatemarcha">Enviar notificaión</a></button>
</section>
<footer class="col-s-12">
  <article>
    <div id="selected"  class="col-s-4"><a href="/rescate">Rescate</a></div>
    <div class="col-s-4"><a href="/adopcion">Adopción</a></div>
    <div  class="col-s-4"><a href="/perfil">Perfil</a></div>
  </article>
</footer>

<section id="difuminado"></section>
<section *ngIf="salir" id="popup-salir" class="pop-up">
    <article class="col-s-8">
        <button id="close" (click)="popUpSalir()">X</button>
          <h1>¿Cancelar notificación?</h1>
          <p>¿Seguro que quieres dejar de notificar el rescate? Los cambios
              no se guardarán y el rescate quedará cancelado.</p>
        <div >
            <button class="button-1 col-s-5"><a href="/rescate">Salir.</a></button>
            <button (click)="popUpSalir()" class="button-1 col-s-5">Seguir en la página.</button>
        </div>
    </article>
</section>

<!--menu desplegable-->
<section class="difuminado" *ngIf="difuminar"></section>
<section class="desplegable col-s-8" *ngIf="menu">
    <div>
        <img (click)="hideMenu()" id="menu-icon" src="./assets/images/menu.png" alt="Botón de menú desplegable.">
    </div>
    <article>
        <div id="destacado"><a href="/rescate">Rescate</a></div>
        <div><a href="/adopcion">Adopción</a></div>
        <div><a href="/perfil">Perfil</a></div>
        <div><a href="/about">Sobre Nosotros</a></div>
        <div><a href="/privacidad">Privacidad</a></div>
        <div><a href="/contacto">Contacto</a></div>
    </article>
</section>

