@import "src/styles.scss";

label{

  /* Botón light */
  font-family: 'Inter';
  font-weight: 600;
  display: flex;

  /* Oscuro */
  color: #341827;
  margin: 20px auto;

}
p{


  /* Botón light */
  font-family: 'Inter';
  font-weight: 600;
  display: flex;

  /* Oscuro */
  color: #341827;
  margin: 20px auto;

  }
div{
  display: flex;
}
.texto{


font-family: 'Inter';
font-style: normal;
font-weight: 400;

line-height: 29px;
text-align: center;

/* Oscuro */
color: #341827;}

#close{

  float: right;
  border-radius: 5px;
  background-color: $salmon;
  border-style: none;
  padding: 2px 7px;

}

#boton_salir{
  display: block;
  float: left;
}

