<header>
  <img id="menu-icon" src="./assets/images/menu.png" alt="Botón de menú desplegable.">
  <img src="./assets/images/logo.png" alt="Logotipo de la aplicación.">
  <h1 class="col-s-8">Nombre de la App</h1>
</header>
<section class="principal">
  <section class="titulo-section col-s-12">
    <p>Notificación de abandono</p>
  </section>

  <form class="form_">
    <div>
      <p>Activar geolocalización</p>
      <input type="checkbox" class="check">
    </div>
    <p>¿De que animal se trata?</p>
    <select class="select_">
      <option>Perro</option>

      <option>Gato</option>

      <option>idk</option>
    </select>

    <p>¿Está herido?</p>
    <select class="select_">
      <option>Si, tiene una pata herida</option>

      <option>Si, esta desnutrido</option>

      <option>idk</option>
    </select>
    <p>Añadir breve descripción</p>
    <div>
      <p class="texto">Tamaño:</p>
      <input class="col-s-10 input_" type="text">
    </div>
    <div>
      <p class="texto">Pelaje:</p>
      <input class="col-s-10 input_" type="text">
    </div>
    <p>¿Puedes proporcionar una foto del animal?</p>
    <div>
      <p class="texto">Sí, activar cámara</p>
      <input type="checkbox" class="check">
      <p class="texto">No</p>
      <input type="checkbox" class="check">
    </div>
  </form>

  <button class="button_rosa"><a href="/rescate/rescatemarcha">Enviar notificaión</a></button>
</section>
<footer class="col-s-12">
  <article>
    <div id="selected"  class="col-s-4"><a href="/rescate">Rescate</a></div>
    <div class="col-s-4"><a href="/adopcion">Adopción</a></div>
    <div  class="col-s-4"><a href="/perfil">Perfil</a></div>
  </article>
</footer>

