div {
  background: #F6F7EB;
    width: 100%;
    height: 100%;

}
p{
  margin: 30px;
  text-align: center;
}
h1{

  /* Título tocho */
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 700;
  margin: 10px 7px auto;

  /* Oscuro */
  color: #341827;}

section{
  display: flex;
  margin:auto;
}
