<div class="fondo">
    <section>
        <h1>Inicia sesión</h1>
        <form>
            <label for="mail">Correo electrónico</label>
            <input type="text" id="mail" name="mail"><br><br>
            <label for="pass">Contraseña</label>
            <input type="text" id="pass" name="pass"><br><br>
            <input type="submit" value="Entrar" class="button-1">
          </form>
          <p>¿Aún no tienes una cuenta?</p>
          <p>Haz click aquí para registrarte.</p>
    </section>
</div>
