<section class="difuminado"></section>
<section class="pop-up col-s-12">
    <article>
        <button id="volver-btn">X</button>
        <h1>Inicia sesión</h1>
        <form>
            <label for="mail">Correo electrónico</label><br>
            <input type="text" id="mail" name="mail"><br>
            <label for="pass">Contraseña</label><br>
            <input type="text" id="pass" name="pass"><br>
            <button class="button-1 col-s-5"><p>Entrar</p></button>
        </form>
        <p>¿Aún no tienes una cuenta?</p>
        <a href="">Haz click aquí para registrarte.</a>
    </article>
</section>
