@import "src/styles.scss";

h1 {
    text-align: center;
    font-weight: 700;
}

p {
    margin-top: 5%;
    text-align: center;
}

.click {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    text-align: center;
    text-decoration-line: underline;
    color: $salmon;
}



#volver-btn{
    float: right;
    border-radius: 5px;
    background-color: $salmon;
    border-style: none;
    padding: 2px 7px;
    
}

form {
    input {
        display: flex;
        margin: auto;
    }
    button {
        p {
            width: 100%;
        }
        display: flex;
        margin: auto;
        font-family: 'Inter';
        font-style: normal;
        font-weight: 600;
        font-size: 16px;
    }
}
