
<header>
    <img (click)="displayMenu()" id="menu-icon" src="./assets/images/menu.png" alt="Botón de menú desplegable.">
    <img src="./assets/images/logo.png" alt="Logotipo de la aplicación.">
    <h1 class="col-s-8">Nombre de la App</h1>
</header>

<section class="principal">
    <section class="titulo-section col-s-12">
        <a routerLink="/adopcion"><img src="./assets/images/atras.png" alt="Botón de volver hacia la página anterior."></a>
        <h2>Volver</h2>
    </section>
    <section id="titulo" class="col-s-12">
        <h2>Lina</h2>
    </section>

</section>

<section id="foto">
    <img src="./assets/images/camara 1(1).png" alt="Imagen de la mascota">
    <h2 class="col-s-9">DESCRIPCIÓN</h2>
</section>

<section id="informacion" class="col-s-6">
    <ul>
        <li>Gato</li>
        <li>Hembra</li>
        <li>2 años</li>
        <li>Mestizo</li>
    </ul>
    <article class="col-s-7">
        <div class="col-s-7">
            <img src="./assets/images/location.png" alt="Icono localización.">
        </div>
        <p>Protectora Huellas Felices, Toledo.</p>
    </article>
</section>

<section id="descripcion" class="col-s-7">
    <p>Lina es una gata de 2 años que adora pasar tiempo con gente. Es tranquila y cariñosa, pero a la vez es muy divertida.
        Convive muy bien con los otros perros y gatos del refugio.</p>
</section>

<article id="boton" class="col-s-6">
<section class="button-2">
    <h2>Solicitar adopción</h2>
</section>
</article>

<footer class="col-s-12">
    <article>
        <div class="col-s-4"><a routerLink="/rescate">Rescate</a></div>
        <div id="selected" class="col-s-4"><a routerLink="/adopcion">Adopción</a></div>
        <div class="col-s-4"><a routerLink="/perfil">Perfil</a></div>
    </article>
</footer>

<!--menu desplegable-->
<section class="difuminado" *ngIf="difuminar"></section>
<section class="desplegable col-s-8" *ngIf="menu">
    <div>
        <img (click)="hideMenu()" id="menu-icon" src="./assets/images/menu.png" alt="Botón de menú desplegable.">
    </div>
    <article>
        <div><a routerLink="/rescate">Rescate</a></div>
        <div id="destacado"><a routerLink="/adopcion">Adopción</a></div>
        <div><a routerLink="/perfil">Perfil</a></div>
        <div><a routerLink="/about">Sobre Nosotros</a></div>
        <div><a routerLink="/privacidad">Privacidad</a></div>
        <div><a routerLink="/contacto">Contacto</a></div>
    </article>
</section>