@import "src/styles.scss";

#texto_p{

  display: flex;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  line-height: 29px;
  text-align: center;
  margin: 20px;
  /* Oscuro */
  color: #341827;

}


#boton{
  background: rgba(255, 132, 115, 0.75);

  margin: 30px auto;
  padding: 2%;
  border-radius: 50%;
  height: 300px;
  width: 300px;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  text-align: center;
}

#guia{


  height: 350px;
  margin: 30px 30px auto;
  display:flex;
  flex-wrap: wrap;

  /* Amarillo */
  background: #FFF2B3;

  /* Oscuro */
  border: 2px solid #341827;
  box-sizing: border-box;

}

p{
  margin-top: 20px;
  margin-left: 20px;
  /* Botón light */
  font-family: 'Inter';
  font-weight: 600;
  text-align: center;
  /* Oscuro */
  color: #341827;

}

-----------------------

#popup_p{
  margin-top: 5%;
  text-align: center;
}
#botones {
  display: flex;
  margin: 20px 40px auto;
}


#close{

  float: right;
  border-radius: 5px;
  background-color: $salmon;
  border-style: none;
  padding: 2px 7px;

}

h1 {
  text-align: center;
}




