@import "src/styles.scss";

#texto_p{

  display: flex;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  line-height: 29px;
  text-align: center;
  margin: 20px;
  /* Oscuro */
  color: #341827;

}


#boton{
  background: rgba(255, 132, 115, 0.75);
  display: flex;
  margin: 30px auto;
  padding: 2%;
  border-radius: 50%;
  height: 300px;
  width: 300px;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  text-align: center;
}

#guia{


  height: 350px;
  margin: 30px 30px auto;
  display:flex;
  flex-wrap: wrap;

  /* Amarillo */
  background: #FFF2B3;

  /* Oscuro */
  border: 2px solid #341827;
  box-sizing: border-box;

}

p{
  margin-top: 20px;
  margin-left: 20px;
  /* Botón light */
  font-family: 'Inter';
  font-weight: 600;
  text-align: center;
  /* Oscuro */
  color: #341827;

}

-----------------------

#popup_p{
  margin: 70px 70px auto;
  text-align: center;
  padding: 5%;
  position: absolute;

}
#popup_h{

  /* Título tocho */
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 700;
  margin: 10% 20% 30% 10%;
  position: absolute;

  /* Oscuro */
  color: #341827;
}

#botones{
  display: flex;
  margin: auto 40%;

}

#popup{
  position: absolute;
  margin: 12% 12% auto;
  display: flex;

  background: #F6F7EB;
  width: 75%;
  height: 50%;


}
#close{
  border-radius: 5px;
  background-color: $salmon;
  border-style: none;
  padding: 2px 7px;
  display: block;
  float: right;
  position: absolute;
}


