<section id="intro-section">
    <h1 class="col-s-8">Nombre de la App</h1>
    <img src="./assets/images/logo.png" alt="Logotipo de la aplicación.">
    <p class="col-s-9">¡Bienvenido a nuestra aplicación!</p>
    <p class="col-s-9">¿Sabes que puedes ayudarnos a mejorar la vida de muchos animales? Aquí podrás ayudar a rescatar a los animales que puedas ver en peligro. Además, facilitamos los procesos de adopción para que puedas ofrecerles un hogar :) </p>
</section>

<section id="rescate-section" class="col-s-10">
    <button class="button-1 col-s-6"><a routerLink="/rescate"><h2>RESCATE</h2></a></button>
    <p>Avisa de que has encontrado un animal abandonado con un click</p>
</section>

<section id="cuenta-section" class="col-s-10">
    <section>
        <button class="button-1" (click)="popupReg()">Registrarse</button>
        <button class="button-1" (click)="popupIni()">Tengo cuenta</button>
    </section>
    <p>Inicia sesión o regístrate para empezar a buscar tu futura mascota</p>
</section>

<app-pop-up-ini (close_ini_event)="closeIni($event)" (go_to_reg_event)="popupReg()" *ngIf="tiene_cuenta" ></app-pop-up-ini>
<app-pop-up-reg (close_reg_event)="closeReg($event)" (go_to_ini_event)="popupIni()" *ngIf="crear_cuenta"></app-pop-up-reg>


