<section class="difuminado"></section>
<section class="pop-up col-s-12">
    <article>
        <button id="volver-btn"(click)="closeReg()">X</button>
        <h1>Crea tu nueva cuenta</h1>
        <form>
            <label for="usuario">Nombre de usuario</label><br>
            <input type="text" id="usuario" name="usuario"><br>
            <label for="mail">Correo electrónico</label><br>
            <input type="text" id="mail" name="mail"><br>
            <label for="pass">Contraseña</label><br>
            <input type="text" id="pass" name="pass"><br>
            <label for="pass-rep">Repetir contraseña</label><br>
            <input type="text" id="pass-rep" name="pass-rep"><br>
            <button class="button-1 col-s-5"><p>Crear cuenta</p></button>
        </form>
        <p>¿Ya tienes una cuenta creada?</p>
        <p class="click" (click)="goToIni()">Haz click aquí para iniciar sesión.</p>
    </article>
</section>