@import url('https://fonts.googleapis.com/css2?family=Inter&family=Source+Sans+Pro:wght@400;600;700&display=swap');

/* Colores en variables globales. */
$amarillo: #FFF2B3;
$claro: #F6F7EB;
$oscuro: #341827;
$salmon: #FF8473;


.col-s-1 {width: 8.33%;}
.col-s-2 {width: 16.66%;}
.col-s-3 {width: 25%;}
.col-s-4 {width: 33.33%;}
.col-s-5 {width: 41.66%;}
.col-s-6 {width: 50%;}
.col-s-7 {width: 58.33%;}
.col-s-8 {width: 66.66%;}
.col-s-9 {width: 75%;}
.col-s-10 {width: 83.33%;}
.col-s-11 {width: 91.66%;}
.col-s-12 {width: 100%;}

*{
    color: $oscuro;
    margin: 0%;
    font-family: 'Source Sans Pro', sans-serif;
}

p{
    font-family: 'Inter', sans-serif;
    font-size: 14px;
}

body{
    background-color: $claro;
}

/* Menú de arriba */
header {
    display: flex;
    height: 8vh;
    h1{
        font-style: normal;
        font-weight: 700;
        font-size: 28px;
        text-align: center;
        margin: auto;
    }
    img{
        max-height: 60%;
        margin: auto;
    }
}

input{
    background-color: rgba(255, 132, 115, 0.25);
    border: 1px solid $oscuro;
    font-size: 14px;
    &:focus{
        box-shadow: 0 0 2px $salmon;
        outline: none !important;
        border-color: $salmon;
        border-width: 2px;
    }
}

/*Navegación de abajo.*/
footer{
    position: fixed;
    bottom: 0;
    height: 9vh;
    article{
        display: flex;
        background-color: white;
        height: 100%;
        div{
            background-color: rgba(255, 132, 115, 0.25);
            display: flex;
        }
        a{
            text-decoration: none;
            font-style: normal;
            font-weight: 700;
            font-size: 24px;
            text-align: center;
            margin: auto;
        }
        #selected{
            background-color: rgba(255, 132, 115, 0.60);
        }
    }
    }


.button-1 {
    background-color: $amarillo;
    border: 2px solid $oscuro;
    display: flex;
    margin: auto;
    padding: 2%;
    h2 {
        font-style: normal;
        font-weight: 700;
        font-size: 20px;
        text-align: center;
        margin: auto;
    }
}

.button-2{
    margin: 10px auto;
    border: 2px solid $oscuro;
    box-sizing: border-box;
    border-radius: 5px;
    background-color: $amarillo;
    padding: 8px 15px;
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 31px;
    text-align: center;
    cursor: pointer;
}

.principal{
    overflow-y: scroll;
    overflow-x: hidden;
    max-height: 82vh;
    display: flex;
    flex-wrap: wrap;
}

.difuminado{
    top: 0px;
    bottom: 0px;
    position: absolute;
    width: 100%;
    height: 100vh;
    background-color: rgba(52, 24, 39, 0.5);;
}

.pop-up{
    position:absolute;
    display: flex;
    top: 10%;
    article{
        margin: auto;
        background-color: $claro;
        padding: 20px 20px;
    }
}

.titulo-section{
    display: flex;
    background-color: rgba(255, 132, 115, 0.75);
    padding: 10px 5px;
    *{
        margin: auto;
        text-align: center;
    }
}

.rip{
    text-align: center;
    margin: auto;
}
